body {
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.register-container {
    height: 480px;
    background-color: white;
    padding: 50px;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 280px;
}

h2 {
    text-align: center;
    color:black;
}

.form-group {
    margin-bottom: 13px;
    width: 250px;
}

.form-group label {
    display: block;
    margin-bottom:10px;
   
}

form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(34, 34, 34);
    border-radius: 4px;
}

.btn2 {
    width: 110%;
    padding: 10px;
    background-color: rgb(62, 240, 86);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn2:hover {
    background-color: rgb(1, 170, 1);
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}